:host {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.title {
    color: #00802F;
    font-size: 2vw;
}

.subtitle {
    color: #00802F;
    font-size: 1vw;
}

h2 {
    margin-bottom: -5px;
}

h4 {
    margin-top: 0;
    margin-bottom: -10px;
    color: rgba(201, 45, 43);
}

.line {
    margin-bottom: 15px;
}

.cancelBtn {
    width: calc(30% - 3px);
    border: 0;
    border-radius: 3px;
    color: white;
    background-color: rgb(220, 70, 70);
    height: 40px;
    float: left;
    font-size: 120%;
    margin-bottom: 20px;
}

.confirmBtn {
    width: calc(100%);
    border: 0;
    border-radius: 3px;
    color: white;
    background-color: #00802F;
    height: 40px;
    font-size: 2vh;
    margin-bottom: 20px;
    margin-top: 0px;
}

.profileIMG {
    height: auto;
    width: 40%;
    position: relative;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5%;
    border-radius: 50%;
    content: url('../../../assets/profile.png');
}

.profileIMGhover {
    border: solid 3px;
    border-radius: 50%;
    border-color: #00802F;
    height: auto;
    width: 38%;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5%;
    margin-bottom: 1px;
    content: url('../../../assets/profile.png');
}

#ovlprofileIMGinput {
    display: none;
}

.nickName {
    color: #00802F;
    margin-right: 10%;
    margin-left: 5%;
    font-size: 1.2vw;
}

.nickNameAlert {
    color: rgba(201, 45, 43);
    margin-right: 10%;
    margin-left: 5%;
    font-size: 2vw;
}

hr {
    margin-top: 20px;
    margin-bottom: 30px;
}

.profileContainer {
    border: solid 1px;
    border-color: #00802F;
    border-radius: 5px;
    height:fit-content;
    width: calc(35% - 17px);
    margin-top: 20%;
    margin-bottom:20%;
    padding: 1.5vh;
    padding-bottom: 3vh;
    background-color: rgba(255, 255, 255, 0.95);
    align-self: center;
    display: block;
}

textarea.nick {
    resize: none;
    line-height: 40px;
    padding: 0;
    border: 2px solid #00802F;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 1px;
    height: 40px;
    width: calc(100%-10px);
    padding-left: 5px;
    font-size: 2vw;
    margin-left: 5px;
    margin-right: 5px;
    color: #00802F;
    overflow: hidden;
}

textarea.nickalert {
    resize: none;
    line-height: 40px;
    padding: 0;
    border: 3px solid rgba(201, 45, 43);
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 1px;
    height: 40px;
    width: calc(100% - 12px);
    padding-left: 5px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 2vw;
    background: rgba(255, 80, 80, 0.75);
    overflow: hidden;
}

.profileUID {
    color: rgba(0, 128, 47, 0.75);
    position: absolute;
    bottom: 0;
    align-self: center;
    font-size: 0.75vw;
}

.colorpicker {
    height: 52px;
    width: 30px;
    border-color: #00802F;
    border-width: 1px;
    border-radius: 3px;
    color:white;
    background-color: #00802F;
    margin-left: -6px;
    margin-right: 1px;
    margin-top: -3px;
    border-style: solid;
    float: left;
    font-size: 10px;
    text-align: center;
    padding-left: 10px;
}

.cpList {
    height: 15px;
    width: 9.09%;
    border: 0px;
    border-radius: 2px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 20px;
    border-style: solid;
    float: left;
    font-size: 10px;
    text-align: center;
    padding-left: 10px;
}

table {
    width: 78%;
    height: fit-content;
}

tr, td {
    margin: 0;
    padding: 0;
    border-spacing: 0;
}

#ovlcpColorDiv {
    background-color: #00802F;
    display: inline-block;
    width: calc(100% - 2px);
    height: 15px;
    border: solid 1px;
    border-color: #00802F;
    border-radius: 3px 3px 3px 3px;
    position: relative;
    margin-top: 20px;
}

#ovlcpBlue {
    background-color: rgb(0, 160, 210);
    color: white;
}

#ovlcpOrange {
    background-color: rgb(220, 120, 60);
    color: white;
}

#ovlcpWhite {
    background-color: white;
    color: black;
}  

#ovlcpBlack {
    background-color: black;
    color: white;
}   

#ovlcpGreen {
    background-color: #00802F;
    color: white;
}

#ovlcpRed {
    background-color: rgb(220, 70, 70);
    color: white;
}
#ovlcpLightGreen {
    background-color: rgb(156, 230, 61);
    color: black;
}

#ovlcpYellow {
    background-color: rgb(217, 219, 71);
    color: black;
}

#ovlcpPink {
    background-color: rgb(235, 109, 218);
    color: white;
} 

#ovlcpDarkBlue {
    background-color: rgb(83, 115, 219);
    color: white;
}

#ovlcpViolett {
    background-color: rgb(135, 76, 230);
    color: white;
}

.mblnickName {
    color: #00802F;
    margin-right: 10%;
    margin-left: 5%;
    font-size: 4vw;
}

.mblnickNameAlert {
    color: rgba(201, 45, 43);
    margin-right: 10%;
    margin-left: 5%;
    font-size: 4vw;
}

.mblconfirmBtn {
    width: calc(70% - 3px);
    border: 0;
    border-radius: 3px;
    color: white;
    background-color: #00802F;
    height: 40px;
    margin-left: 3px;
    float: left;
    font-size: 150%;
    margin-bottom: 20px;
}

.cancelBtn {
    width: calc(30% - 3px);
    border: 0;
    border-radius: 3px;
    color: white;
    background-color: rgb(220, 70, 70);
    height: 40px;
    float: left;
    font-size: 120%;
    margin-bottom: 20px;
}


.mblprofileContainer {
    border: none;
    width: 100%;
    height: 100%;
    padding: 1.5vh;
    padding-bottom: 3vh;
    background-color: white;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

textarea.mblnick {
    resize: none;
    line-height: 50px;
    padding: 0;
    border: 2px solid #00802F;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 1px;
    height: 50px;
    width: calc(100%-10px);
    padding-left: 5px;
    font-size: 5.5vw;
    margin-left: 15px;
    margin-right: 5px;
    color: #00802F;
    overflow: hidden;
}

textarea.mblnickalert {
    resize: none;
    line-height: 50px;
    padding: 0;
    border: 4px solid rgba(201, 45, 43);
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 1px;
    height: 50px;
    width: calc(100% - 14px);
    padding-left: 5px;
    margin-left: 15px;
    margin-right: 5px;
    font-size: 3.5vw;
    background: rgba(255, 80, 80, 0.75);
    overflow: hidden;
}

.mbltitle {
    color: #00802F;
    font-size: 7vw;
}

.mblsubtitle {
    color: #00802F;
    font-size: 3vw;
}

table.mbl {
    width: 78%;
    height: fit-content;
}