<body>
  <div class="output" id="output">{{ initialOutput }}</div>
  <table>
    <tr>
      <td><textarea class="nick" id="nickInput" placeholder="Nickname" [(ngModel)]="nickName"></textarea></td>
      <td>
        <button id="cpbtn" class="colorpicker" (click)="changeColorDropdown()">►</button>
        <button id="cpBlue" class="cpListCollapsed" (click)="selectColor(color='blue')"></button>
        <button id="cpRed" class="cpListCollapsed" (click)="selectColor(color='red')"></button>
        <button id="cpWhite" class="cpListCollapsed" (click)="selectColor(color='white')"></button>
        <button id="cpBlack" class="cpListCollapsed" (click)="selectColor(color='black')"></button>
        <button id="cpGreen" class="cpListCollapsed" (click)="selectColor(color='#00802F')"></button>
      </td>
      <td><textarea class="input" id="chatInput" rows="1" placeholder="Chat-Nachricht" (keyup.enter)="send()" [(ngModel)]="message"></textarea></td>
      <td><button class="button" (click)="send()">→</button></td>
    </tr>
  </table>
  <table>
    <tr>
      <td><div class="alert" id="alert">{{ alertText }}</div></td>
    </tr>
  </table>
</body>