<body *ngIf="!isMobile">
  <div id="bodyContainer">
    <div id="chatContainer">
      <app-chat-history style="flex: 2;"></app-chat-history>
      <app-chat-bar></app-chat-bar>
    </div>
    <div id="profileContainer" *ngIf="showProfileLocal"><app-chat-profile></app-chat-profile></div>
    <div id="profileContainer" *ngIf="showOnlineLocal"><app-online-view></app-online-view></div>
  </div>
  <div><app-overlay-handler></app-overlay-handler></div>
</body>

<body *ngIf="isMobile">
  <div id="mblbodyContainer">
    <div id="mblchatContainer">
      <app-chat-history style="flex: 2;"></app-chat-history>
      <app-chat-bar></app-chat-bar>
    </div>
  </div>
  <div><app-overlay-handler></app-overlay-handler></div>
</body>