header {
    background-color: white;
    height: 15%;
}

img.logo {
    width: 100%;
    content:url("../../../assets/logo_hsg_de.jpg");
}

td.logo {
    width: 25%;
    vertical-align: bottom;
}

td.easychat {
    width: 50%;
    text-align: left;
    vertical-align: bottom;
    height: 100%;
}

td.profile {
    width: 25%;
    text-align: right;
    vertical-align: bottom;
    height: 100%;
}

h2 {
    font-family: system-ui;
    font-weight: 200;
    font-size: 300%;
    margin-bottom: 0px;
    color: #00802F;
    text-align: center;
    width: 100%;
}

.profilemenu {
    float: right;
    height: 30%;
    border: solid 1px;
    border-color: #00802F;
    border-radius: 50%;
    background: green;
}

.profilemenuHover {
    border: solid 3px;
    border-color: #00802F;
    height: 29%;
    border-radius: 50%;
    float: right;
}

table, tr, td {
    height: 100%;
}

.nickName {
    color: #00802F;
    margin-right: 10%;
    margin-left: 5%;
    font: system-ui;
    font-size: 120%;
    font-weight: bold;
}

@media all and (max-width: 800px){
    img.logo {
        height: 50%;
        width: auto;
        content:url("../../../assets/logo_hsg-mobile.png");
    }

    td.logo {
        width: 30%;
        text-align: left;
        vertical-align: bottom;
        height: 100%;
    }

    td.easychat {
        width: 20%;
        text-align: left;
        vertical-align: bottom;
        height: 100%;
    }

    td.profile {
        width: 30%;
        text-align: right;
        vertical-align: bottom;
        height: 100%;
    }
}