header {
    background-color: white;
    height: 100%;
    width: 100%;
}

img.logo {
    width: 100%;
    content:url("../../../assets/logo_hsg_de.jpg");
}

.header-span {
    display: inline-flex;
    width: 100%;
    height: calc(100% - 11px);
    vertical-align: bottom;
    margin-right: 1%;
    margin-left: 1%;
}

.header-logo {
    width: 25%;
    margin-top: auto;
}

.header-title {
    width: 48%;
    text-align: left;
    height: 100%;
    margin-top: auto;
    text-align: bottom;
    vertical-align: bottom;
    position: relative;
}

.header-profilename {
    width: 19%;
    text-align: right;
    margin-top: auto;
    margin-right: 1%;
    margin-bottom: 1.6vw;
    display: flex;
    position: relative
}

.header-profileIMG {
    width: 5%;
    margin-top: auto;
    height: 100%;
    position: relative;
    justify-content: stretch;
    vertical-align: bottom;
}

h2 {
    font-family: system-ui;
    font-weight: 100;
    font-size: 5vw;
    margin-bottom: 0px;
    color: #00802F;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: -5px;
}

label {
    font-family: system-ui;
    font-weight: bold;
    color: #00802F;
    width: fit-content;
    font-size: 1.5vw;
    float: right;
}

.profilemenu {
    float: right;
    width: 100%;
    border: solid 1px;
    border-color: #00802F;
    border-radius: 50%;
    background: green;
    position: absolute;
    bottom: 0;
}

.profilemenuHover {
    border: solid 3px;
    border-color: #00802F;
    width: 95%;
    border-radius: 50%;
    float: right;
    background: green;
    position: absolute;
    bottom: 0;
}

#headerColorDiv {
    border-radius: 50%;
    height: 1vw;
    width: 1vw;
    float: right;
    margin-left: auto;
    margin-top: 0.45vw;
    margin-right: 3px;
}

@media all and (max-width: 500px){
    
}