<header>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <table>
        <tr>
            <td class="logo"><img class="logo"></td>
            <td class="easychat"><h2>EasyChat</h2></td>
            <td class="profile"><label class="nickName">{{ nickname }}</label><img id="profilemenuIMG" src="./assets/profile.png" class="profilemenu" (pointerenter)="imgMouseEnter()" (pointerleave)="imgMouseLeave()" (click)="openMenu()"></td>
        </tr>
    </table>
    <hr class="line">
</header>