<header>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <span class="header-span">
    <div class="header-logo"><img class="logo"></div>
    <div class="header-title"><h2>EasyChat</h2></div>
    <div class="header-profilename"><div id="headerColorDiv"></div><label>{{ nickname }}</label></div>
    <div class="header-profileIMG"><img id="profilemenuIMG" src="{{profileIMG}}" (pointerenter)="imgMouseEnter()" (pointerleave)="imgMouseLeave()" (click)="openMenu()"></div>
    </span>
    <hr class="line">
</header>