header {
    background-color: white;
}

img {
    height: 100px;
}

td.easychat {
    width: 57%;
    text-align: right;
    vertical-align: bottom;
}

h2 {
    font-family: system-ui;
    font-weight: 200;
    font-size: 50px;
    margin-bottom: 0px;
    color: #00802F;
}