:host {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.title {
    color: #00802F;
    font-size: 2vw;
}

.subtitle {
    color: #00802F;
    font-size: 1vw;
}

h2 {
    margin-bottom: 0;
}

h4 {
    margin-bottom: 0;
}

.profileContainer {
    border: solid 1px;
    border-color: #00802F;
    border-radius: 5px;
    height: fit-content;
    width: calc(35% - 17px);
    margin-top: 40%;
    margin-bottom: 40%;
    padding-bottom: 3vh;
    background-color: rgba(255, 255, 255, 0.95);
    align-self: center;
    display: block;
}

table {
    width: 78%;
    height: fit-content;
}

tr, td {
    margin: 0;
    padding: 0;
    border-spacing: 0;
}

.confirmBtn {
    width: calc(100% - 3px);
    border: 0;
    border-radius: 3px;
    color: white;
    background-color: #00802F;
    height: 40px;
    font-size: 2vh;
    margin-bottom: 20px;
    margin-top: 40px;
}

.mblconfirmBtn {
    width: calc(100% - 3px);
    border: 0;
    border-radius: 3px;
    color: white;
    background-color: #00802F;
    height: 40px;
    font-size: 2vh;
    margin-bottom: 20px;
    margin-top: 40px;
}

.mblprofileContainer {
    border: none;
    height: 100%;
    width: 100%;
    padding: 3vh;
    background-color: white;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mbltitle {
    color: #00802F;
    font-size: 6vw;
}

.mblsubtitle {
    color: #00802F;
    font-size: 3vw;
}

.mbllogo {
    width: 100%;
}

.mblfooter {
    background-color: #00802F;
    color: white;
    font-size: 3vw;
    padding: 2vw;
    text-align: center;
}

table.mbl {
    width: 78%;
    height: fit-content;
    margin-bottom: 15vh;
}

@media (max-aspect-ratio: 3/4){
    .profileContainer {
        border: solid 1px;
        border-color: #00802F;
        border-radius: 5px;
        height: fit-content;
        width: calc(60% - 17px);
        margin-bottom: auto;
        padding-bottom: 3vh;
        background-color: rgba(255, 255, 255, 0.95);
        align-self: center;
        display: block;
    }

    .title {
        color: #00802F;
        font-size: 4vw;
    }
    
    .subtitle {
        color: #00802F;
        font-size: 2vw;
    }

    .confirmBtn {
        width: calc(100% - 3px);
        border: 0;
        border-radius: 3px;
        color: white;
        background-color: #00802F;
        height: 40px;
        font-size: 1.5vh;
        margin-bottom: 20px;
        margin-top: 40px;
    }
}